<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="300"> 
        <br></br>   

        <div id="form" role="search">
            <input type="text" placeholder="Buscar productos, marcas">     
            <i class="fas fa-search"></i>
   
        </div>
        
        <div id="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito </div>
        
        <nav>
        <div>
            <ul style="list-style-type:none;" class="lista">
                <li> Ofertas</li> 
                <li>Tiendas</li>
                <li>Ayuda</li>
              </ul> 

              <ul style="list-style-type:none;" class="lista">
                <li> Creá tu cuenta</li><i class="far fa-id-card"></i>
                <li>Ingresá</li><i class="fas fa-sign-in-alt"></i>
                <li>Mis Compras</li><i class="fas fa-shopping-basket"></i> 
            </ul>     
        </nav>

            <div class="burger-menu"> <i class="fas fa-bars"></i>

            </div>

            <img src="/images\img-home-banner.jpg" width="600"> 

       </div>
    </header>
    <br></br>

    <main> 
        <section>
            <h3><strong>Basado en tu última visita:</strong></h3>

            <img src="/images/img-cafetera-moulinex.jpg" width="600"> 
            <br></br>
            
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>

      </section>

       <section>
        <img src="/images/img-macbook-pro-2019.jpg" width="600"> 
        <br></br>
    
        <p>$230.000</p>
        <p>20% OFF</p>
        <p><strong>MacBook Pro 2019</strong></p>

       </section>

       <section>
        <img src="/images/img-samsung-galaxy-s10.jpg" width="600"> 
        <br></br>
        <p>$70.500</p>
        <p>10% OFF</p>
        <p><strong>Samsung Galaxy S10</strong></p>
       </section>

       <section>
        <img src="/images/img-tv-samsung-smart.jpg" width="600"> 
        <br></br>
        <p>$23.200</p>
        <p>5% OFF</p>
        <p><strong>SmartTv Samsung 43"</strong></p>
       </section>

       <section>
        <h3><strong>Sección de Ofertas:</strong></h3>

        <img src="/images/img-cafetera-moulinex.jpg" width="600"> 
        <br></br>
        
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><strong>Cafetera Moulinex</strong></p>
   </section>

   <section>
    <img src="/images/img-macbook-pro-2019.jpg" width="600"> 
    <br></br>

    <p>$230.000</p>
    <p>20% OFF</p>
    <p><strong>MacBook Pro 2019</strong></p>

   </section>

   <section>
    <img src="/images/img-samsung-galaxy-s10.jpg" width="600"> 
    <br></br>
    <p>$70.500</p>
    <p>10% OFF</p>
    <p><strong>Samsung Galaxy S10</strong></p>
   </section>

   <section>
    <img src="/images/img-tv-samsung-smart.jpg" width="600"> 
    <br></br>
    <p>$23.200</p>
    <p>5% OFF</p>
    <p><strong>SmartTv Samsung 43"</strong></p>
   </section>
      </main>


    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>

        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
    </footer>
</body>
</html>