/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #EAC926;
    width: 100%;
    display: block;
    padding: 10px;
    font-family: 'Roboto', 12px, sans-serif;

}

#form {
    position: relative;  
    margin: 2em auto;
    padding: 2em;  
}

#cuotas{
    text-align: center;
}

.burger-menu{
    margin: 1em auto;
    text-align: center;
    background-color: #1259c3;
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
    color: #fff
      }

   .lista{
       text-decoration: none;
       color: #000;
   }

   footer {

   }

   footer article{
       text-align: center;
       margin: 15px;
       margin-left: 25%;
       margin-right: 25%;
   }

   footer h4{
       font-weight: bold;
   }

   footer article i {
       color: #1259c3;
       size: 2em;
       margin-bottom: 10px;
   }